// SASS Mixin import
@import './mixins';

// Tailwind import
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .full-width {
    @apply w-screen relative left-2/4 right-2/4 mx-[-50vw];
  }

  .full-width-none {
    @apply w-auto relative left-auto right-auto mx-auto;
  }
}

// base theme
:root {
  // Backgrounds
  --primary: #{hexToRGBString(#fff)};
  --secondary: #{hexToRGBString(#0d1117)};

  // Texts
  --text-primary: theme('colors.gray.800');
  --text-secondary: theme('colors.white');

  --text-lead: theme('colors.gray.700');

  // Links
  --link-primary: theme('colors.gray.600');
  --link-active: theme('colors.gray.900');

  // Icons
  --icon-primary: theme('colors.gray.700');
  --icon-hover: theme('colors.gray.800');

  // Accents
  --a1: theme('colors.gray.100');
  --a2: theme('colors.gray.200');
  --a3: theme('colors.gray.300');
  --a4: theme('colors.gray.400');
  --a5: theme('colors.gray.500');
  --a6: theme('colors.gray.600');
  --a7: theme('colors.gray.700');
  --a8: theme('colors.gray.800');
  --a9: theme('colors.gray.900');
}

// dark theme
.dark {
  // Backgrounds
  --primary: #{hexToRGBString(#0d1117)};
  --secondary: #{hexToRGBString(#fff)};

  // Texts
  --text-primary: theme('colors.white');
  --text-secondary: theme('colors.gray.800');

  --text-lead: theme('colors.gray.300');

  // Links
  --link-primary: theme('colors.gray.500');
  --link-active: theme('colors.gray.50');

  // Icons
  --icon-primary: theme('colors.gray.300');
  --icon-hover: theme('colors.gray.50');

  // Accents
  --a9: theme('colors.gray.100');
  --a8: theme('colors.gray.200');
  --a7: theme('colors.gray.300');
  --a6: theme('colors.gray.400');
  --a5: theme('colors.gray.500');
  --a4: theme('colors.gray.600');
  --a3: theme('colors.gray.700');
  --a2: theme('colors.gray.800');
  --a1: theme('colors.gray.900');
}

html,
body {
  @apply m-0 h-full min-h-full bg-primary text-primary overscroll-x-none p-0 antialiased;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-feature-settings: 'rlig' 1, 'calt' 0, 'zero', 'cv02', 'cv03', 'cv04',
    'cv11';
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  @apply flex items-center w-full justify-between flex-col scroll-smooth;
}

main {
  @apply flex-1 w-full;
}

img {
  @apply select-none;
}
